.bl-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bl-header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  
  .books-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
  
  .book-card {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;

  }
  
  .book-image {
    width: 100%;
    height: auto;
    flex-grow: 1;
  }
  
  .book-details {
    margin-top: 5px;
    font-size: 14px;
    color: rgb(143, 136, 136);
  }
  
  .book-title {
    margin-top: 10px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
  }

  .book-card:hover {
    cursor: pointer;
  }
  